@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:#111827;
  --secondary-color:#e5e7eb;
 
 }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbarMobile{
position:fixed;
right:0px;
top:0px;
bottom: 0px;
display: flex;
flex-direction: column;
border: 2px solid blue;
color: aqua;

}

.fixedHeader{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
}

